{% extends 'layout.html' %}
 
{% block body %}
  <div class="jumbotron text-center">
    <h2>Student Marks Details</h2>
    <a class="nav-link" href="/dashboard"><h3>Go to dashboard to check or add your marks</h3></a>
    {% if session.logged_in == NULL %}
      <p class="lead">Please Login to add your marks or Register if you don't have an account</p>
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}